<a href="https://colab.research.google.com/github/Mahagurunath/python/blob/main/csv_is.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df = pd.read_csv("50_Startups.csv")

Basic Exploration

1.	Display the first 10 rows of the dataset.

In [ ]:
print(df.head(10))

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94
5  131876.90        99814.71        362861.36    New York  156991.12
6  134615.46       147198.87        127716.82  California  156122.51
7  130298.13       145530.06        323876.68     Florida  155752.60
8  120542.52       148718.95        311613.29    New York  152211.77
9  123334.88       108679.17        304981.62  California  149759.96

2.	Show the total number of rows and columns.

In [ ]:
print("Rows:", df.shape[0], "Columns:", df.shape[1])

Rows: 50 Columns: 5

3.	Print the names of all the columns.

In [ ]:
print(df.columns.tolist())

['R&D Spend', 'Administration', 'Marketing Spend', 'State', 'Profit']

4.	Display summary statistics for all numerical columns.

In [ ]:
print( df.describe())

           R&D Spend  Administration  Marketing Spend         Profit
count      50.000000       50.000000        50.000000      50.000000
mean    73721.615600   121344.639600    211025.097800  112012.639200
std     45902.256482    28017.802755    122290.310726   40306.180338
min         0.000000    51283.140000         0.000000   14681.400000
25%     39936.370000   103730.875000    129300.132500   90138.902500
50%     73051.080000   122699.795000    212716.240000  107978.190000
75%    101602.800000   144842.180000    299469.085000  139765.977500
max    165349.200000   182645.560000    471784.100000  192261.830000

5.	Find the data type of each column.

In [ ]:
print( df.dtypes)

R&D Spend          float64
Administration     float64
Marketing Spend    float64
State               object
Profit             float64
dtype: object

Data Access & Selection

6.	Access the 5th row using .iloc

In [ ]:
print( df.iloc[4])

R&D Spend          142107.34
Administration      91391.77
Marketing Spend    366168.42
State                Florida
Profit             166187.94
Name: 4, dtype: object

7.	Retrieve only the R&D Spend and Profit columns.

In [ ]:
print(df[['R&D Spend', 'Profit']])

    R&D Spend     Profit
0   165349.20  192261.83
1   162597.70  191792.06
2   153441.51  191050.39
3   144372.41  182901.99
4   142107.34  166187.94
5   131876.90  156991.12
6   134615.46  156122.51
7   130298.13  155752.60
8   120542.52  152211.77
9   123334.88  149759.96
10  101913.08  146121.95
11  100671.96  144259.40
12   93863.75  141585.52
13   91992.39  134307.35
14  119943.24  132602.65
15  114523.61  129917.04
16   78013.11  126992.93
17   94657.16  125370.37
18   91749.16  124266.90
19   86419.70  122776.86
20   76253.86  118474.03
21   78389.47  111313.02
22   73994.56  110352.25
23   67532.53  108733.99
24   77044.01  108552.04
25   64664.71  107404.34
26   75328.87  105733.54
27   72107.60  105008.31
28   66051.52  103282.38
29   65605.48  101004.64
30   61994.48   99937.59
31   61136.38   97483.56
32   63408.86   97427.84
33   55493.95   96778.92
34   46426.07   96712.80
35   46014.02   96479.51
36   28663.76   90708.19
37   44069.95   89949.14
38   20229.59   81229.06
39   38558.51   81005.76
40   28754.33   78239.91
41   27892.92   77798.83
42   23640.93   71498.49
43   15505.73   69758.98
44   22177.74   65200.33
45    1000.23   64926.08
46    1315.46   49490.75
47       0.00   42559.73
48     542.05   35673.41
49       0.00   14681.40

8.	Get the last 3 rows of the dataset.

In [ ]:
print( df.tail(3))

    RD_Spend  Administration       State    Profit  Total_Spend
47      0.00       135426.92  California  42559.73    135426.92
48    542.05        51743.15    New York  35673.41     52285.20
49      0.00       116983.80  California  14681.40    162156.86

9.	Print the profit of the 10th startup.

In [ ]:
print( df.loc[9, 'Profit'])

149759.96

10.	Retrieve rows 10 to 20 (inclusive) with only State and Profit.

In [ ]:
print( df.loc[10:20, ['State', 'Profit']])

         State     Profit
10          FL  146121.95
11  California  144259.40
12          FL  141585.52
13  California  134307.35
14          FL  132602.65
15    New York  129917.04
16  California  126992.93
17    New York  125370.37
18          FL  124266.90
19    New York  122776.86
20  California  118474.03

Data Cleaning

11.	Check for missing values in each column.

In [ ]:
print( df.isnull().sum())

RD_Spend          0
Administration    0
State             0
Profit            0
Total_Spend       0
dtype: int64

12.	Rename the column R&D Spend to RD_Spend.

In [ ]:
df.rename(columns={'R&D Spend': 'RD_Spend'}, inplace=True)
print( df.columns)

Index(['RD_Spend', 'Administration', 'State', 'Profit', 'Total_Spend'], dtype='object')

13.	Create a new column called Total_Spend = RD_Spend + Administration + Marketing Spend.

In [ ]:
df['Total_Spend'] = df['RD_Spend'] + df['Administration'] + df['Marketing Spend']
print(df['Total_Spend'])

0     774031.10
1     757873.82
2     662521.60
3     646243.88
4     599667.53
5     594552.97
6     409531.15
7     599704.87
8     580874.76
9     536995.67
10    441668.14
11    442207.12
12    471023.57
13    480152.39
14    533003.58
15    498916.68
16    463956.72
17    522309.05
18    500844.52
19    239933.81
20    488785.63
21    531900.19
22    500096.57
23    478052.29
24    316900.16
25    342180.49
26    353514.92
27    553155.96
28    366845.28
29    325775.92
30    268767.00
31    302056.53
32    238713.72
33    373186.25
34    414917.66
35    336579.10
36    356846.79
37    292382.51
38    271442.62
39    296539.90
40    320096.05
41    277074.40
42    267831.67
43    178422.20
44    205318.60
45    127057.20
46    414246.13
47    135426.92
48     52285.20
49    162156.86
Name: Total_Spend, dtype: float64

14.	Change all State values of "Florida" to "FL".

In [ ]:
df['State'] = df['State'].replace('Florida', 'FL')
print(df['State'])

0       New York
1     California
2             FL
3       New York
4             FL
5       New York
6     California
7             FL
8       New York
9     California
10            FL
11    California
12            FL
13    California
14            FL
15      New York
16    California
17      New York
18            FL
19      New York
20    California
21      New York
22            FL
23            FL
24      New York
25    California
26            FL
27      New York
28            FL
29      New York
30            FL
31      New York
32    California
33            FL
34    California
35      New York
36            FL
37    California
38      New York
39    California
40    California
41            FL
42    California
43      New York
44    California
45      New York
46            FL
47    California
48      New York
49    California
Name: State, dtype: object

15.	Drop the Marketing Spend column from the DataFrame.

In [ ]:
if 'Marketing Spend' in df.columns:
    df.drop('Marketing Spend', axis=1, inplace=True)
print(df.columns)

Index(['RD_Spend', 'Administration', 'State', 'Profit', 'Total_Spend'], dtype='object')

Filtering & Conditions

16.	List all startups from California

In [ ]:
print(df[df['State']=='California'])

     RD_Spend  Administration       State     Profit  Total_Spend
1   162597.70       151377.59  California  191792.06    757873.82
6   134615.46       147198.87  California  156122.51    409531.15
9   123334.88       108679.17  California  149759.96    536995.67
11  100671.96        91790.61  California  144259.40    442207.12
13   91992.39       135495.07  California  134307.35    480152.39
16   78013.11       121597.55  California  126992.93    463956.72
20   76253.86       113867.30  California  118474.03    488785.63
25   64664.71       139553.16  California  107404.34    342180.49
32   63408.86       129219.61  California   97427.84    238713.72
34   46426.07       157693.92  California   96712.80    414917.66
37   44069.95        51283.14  California   89949.14    292382.51
39   38558.51        82982.09  California   81005.76    296539.90
40   28754.33       118546.05  California   78239.91    320096.05
42   23640.93        96189.63  California   71498.49    267831.67
44   22177.74       154806.14  California   65200.33    205318.60
47       0.00       135426.92  California   42559.73    135426.92
49       0.00       116983.80  California   14681.40    162156.86

17.	Show startups with Profit greater than 150000.

In [ ]:
print(df[df['Profit']>150000])

    RD_Spend  Administration       State     Profit  Total_Spend
0  165349.20       136897.80    New York  192261.83    774031.10
1  162597.70       151377.59  California  191792.06    757873.82
2  153441.51       101145.55          FL  191050.39    662521.60
3  144372.41       118671.85    New York  182901.99    646243.88
4  142107.34        91391.77          FL  166187.94    599667.53
5  131876.90        99814.71    New York  156991.12    594552.97
6  134615.46       147198.87  California  156122.51    409531.15
7  130298.13       145530.06          FL  155752.60    599704.87
8  120542.52       148718.95    New York  152211.77    580874.76

**18**.	Show startups with RD_Spend > 100000 and Profit > 120000.

In [ ]:
print(df[(df['RD_Spend']> 100000) & (df['Profit']>120000)])

     RD_Spend  Administration       State     Profit  Total_Spend
0   165349.20       136897.80    New York  192261.83    774031.10
1   162597.70       151377.59  California  191792.06    757873.82
2   153441.51       101145.55          FL  191050.39    662521.60
3   144372.41       118671.85    New York  182901.99    646243.88
4   142107.34        91391.77          FL  166187.94    599667.53
5   131876.90        99814.71    New York  156991.12    594552.97
6   134615.46       147198.87  California  156122.51    409531.15
7   130298.13       145530.06          FL  155752.60    599704.87
8   120542.52       148718.95    New York  152211.77    580874.76
9   123334.88       108679.17  California  149759.96    536995.67
10  101913.08       110594.11          FL  146121.95    441668.14
11  100671.96        91790.61  California  144259.40    442207.12
14  119943.24       156547.42          FL  132602.65    533003.58
15  114523.61       122616.84    New York  129917.04    498916.68

19.	Filter all startups from New York with Admin cost below 120000.

In [ ]:
print( df[(df['State'] == 'New York') & (df['Administration'] < 120000)])

     RD_Spend  Administration     State     Profit  Total_Spend
3   144372.41       118671.85  New York  182901.99    646243.88
5   131876.90        99814.71  New York  156991.12    594552.97
24   77044.01        99281.34  New York  108552.04    316900.16
35   46014.02        85047.44  New York   96479.51    336579.10
38   20229.59        65947.93  New York   81229.06    271442.62
48     542.05        51743.15  New York   35673.41     52285.20

20.	List startups where Total_Spend is more than 400000.

In [ ]:
print(df[df['Total_Spend']>400000])

     RD_Spend  Administration       State     Profit  Total_Spend
0   165349.20       136897.80    New York  192261.83    774031.10
1   162597.70       151377.59  California  191792.06    757873.82
2   153441.51       101145.55          FL  191050.39    662521.60
3   144372.41       118671.85    New York  182901.99    646243.88
4   142107.34        91391.77          FL  166187.94    599667.53
5   131876.90        99814.71    New York  156991.12    594552.97
6   134615.46       147198.87  California  156122.51    409531.15
7   130298.13       145530.06          FL  155752.60    599704.87
8   120542.52       148718.95    New York  152211.77    580874.76
9   123334.88       108679.17  California  149759.96    536995.67
10  101913.08       110594.11          FL  146121.95    441668.14
11  100671.96        91790.61  California  144259.40    442207.12
12   93863.75       127320.38          FL  141585.52    471023.57
13   91992.39       135495.07  California  134307.35    480152.39
14  119943.24       156547.42          FL  132602.65    533003.58
15  114523.61       122616.84    New York  129917.04    498916.68
16   78013.11       121597.55  California  126992.93    463956.72
17   94657.16       145077.58    New York  125370.37    522309.05
18   91749.16       114175.79          FL  124266.90    500844.52
20   76253.86       113867.30  California  118474.03    488785.63
21   78389.47       153773.43    New York  111313.02    531900.19
22   73994.56       122782.75          FL  110352.25    500096.57
23   67532.53       105751.03          FL  108733.99    478052.29
27   72107.60       127864.55    New York  105008.31    553155.96
34   46426.07       157693.92  California   96712.80    414917.66
46    1315.46       115816.21          FL   49490.75    414246.13

Aggregation & Grouping

21.	Count the number of startups in each state.

In [ ]:
print(df['State'].value_counts())

State
New York      17
California    17
FL            16
Name: count, dtype: int64

22.	Find the average profit for each state.

In [ ]:
print( df.groupby('State')['Profit'].mean())

State
California    103905.175294
FL            118774.024375
New York      113756.446471
Name: Profit, dtype: float64

23.	Find the maximum RD_Spend for each state.

In [ ]:
print( df.groupby('State')['RD_Spend'].max())

State
California    162597.70
FL            153441.51
New York      165349.20
Name: RD_Spend, dtype: float64

24.	Calculate the mean Administration cost overall.

In [ ]:
print(df['Administration'].mean())

121344.63960000001

25.	Group by State and find the total Marketing Spend.

In [ ]:
print(df.groupby('State')['Total_Spend'].sum())

State
California    6255066.88
FL            7197063.44
New York      6852437.33
Name: Total_Spend, dtype: float64

Sorting & Advanced Tasks
26.	Sort all startups in descending order of Profit.

In [ ]:
print( df.sort_values(by='Profit', ascending=False))

     RD_Spend  Administration       State     Profit  Total_Spend
0   165349.20       136897.80    New York  192261.83    774031.10
1   162597.70       151377.59  California  191792.06    757873.82
2   153441.51       101145.55          FL  191050.39    662521.60
3   144372.41       118671.85    New York  182901.99    646243.88
4   142107.34        91391.77          FL  166187.94    599667.53
5   131876.90        99814.71    New York  156991.12    594552.97
6   134615.46       147198.87  California  156122.51    409531.15
7   130298.13       145530.06          FL  155752.60    599704.87
8   120542.52       148718.95    New York  152211.77    580874.76
9   123334.88       108679.17  California  149759.96    536995.67
10  101913.08       110594.11          FL  146121.95    441668.14
11  100671.96        91790.61  California  144259.40    442207.12
12   93863.75       127320.38          FL  141585.52    471023.57
13   91992.39       135495.07  California  134307.35    480152.39
14  119943.24       156547.42          FL  132602.65    533003.58
15  114523.61       122616.84    New York  129917.04    498916.68
16   78013.11       121597.55  California  126992.93    463956.72
17   94657.16       145077.58    New York  125370.37    522309.05
18   91749.16       114175.79          FL  124266.90    500844.52
19   86419.70       153514.11    New York  122776.86    239933.81
20   76253.86       113867.30  California  118474.03    488785.63
21   78389.47       153773.43    New York  111313.02    531900.19
22   73994.56       122782.75          FL  110352.25    500096.57
23   67532.53       105751.03          FL  108733.99    478052.29
24   77044.01        99281.34    New York  108552.04    316900.16
25   64664.71       139553.16  California  107404.34    342180.49
26   75328.87       144135.98          FL  105733.54    353514.92
27   72107.60       127864.55    New York  105008.31    553155.96
28   66051.52       182645.56          FL  103282.38    366845.28
29   65605.48       153032.06    New York  101004.64    325775.92
30   61994.48       115641.28          FL   99937.59    268767.00
31   61136.38       152701.92    New York   97483.56    302056.53
32   63408.86       129219.61  California   97427.84    238713.72
33   55493.95       103057.49          FL   96778.92    373186.25
34   46426.07       157693.92  California   96712.80    414917.66
35   46014.02        85047.44    New York   96479.51    336579.10
36   28663.76       127056.21          FL   90708.19    356846.79
37   44069.95        51283.14  California   89949.14    292382.51
38   20229.59        65947.93    New York   81229.06    271442.62
39   38558.51        82982.09  California   81005.76    296539.90
40   28754.33       118546.05  California   78239.91    320096.05
41   27892.92        84710.77          FL   77798.83    277074.40
42   23640.93        96189.63  California   71498.49    267831.67
43   15505.73       127382.30    New York   69758.98    178422.20
44   22177.74       154806.14  California   65200.33    205318.60
45    1000.23       124153.04    New York   64926.08    127057.20
46    1315.46       115816.21          FL   49490.75    414246.13
47       0.00       135426.92  California   42559.73    135426.92
48     542.05        51743.15    New York   35673.41     52285.20
49       0.00       116983.80  California   14681.40    162156.86

27.	Sort startups by Total_Spend and Profit

In [ ]:
print( df.sort_values(by=['Total_Spend', 'Profit'], ascending=False))

     RD_Spend  Administration       State     Profit  Total_Spend
0   165349.20       136897.80    New York  192261.83    774031.10
1   162597.70       151377.59  California  191792.06    757873.82
2   153441.51       101145.55          FL  191050.39    662521.60
3   144372.41       118671.85    New York  182901.99    646243.88
7   130298.13       145530.06          FL  155752.60    599704.87
4   142107.34        91391.77          FL  166187.94    599667.53
5   131876.90        99814.71    New York  156991.12    594552.97
8   120542.52       148718.95    New York  152211.77    580874.76
27   72107.60       127864.55    New York  105008.31    553155.96
9   123334.88       108679.17  California  149759.96    536995.67
14  119943.24       156547.42          FL  132602.65    533003.58
21   78389.47       153773.43    New York  111313.02    531900.19
17   94657.16       145077.58    New York  125370.37    522309.05
18   91749.16       114175.79          FL  124266.90    500844.52
22   73994.56       122782.75          FL  110352.25    500096.57
15  114523.61       122616.84    New York  129917.04    498916.68
20   76253.86       113867.30  California  118474.03    488785.63
13   91992.39       135495.07  California  134307.35    480152.39
23   67532.53       105751.03          FL  108733.99    478052.29
12   93863.75       127320.38          FL  141585.52    471023.57
16   78013.11       121597.55  California  126992.93    463956.72
11  100671.96        91790.61  California  144259.40    442207.12
10  101913.08       110594.11          FL  146121.95    441668.14
34   46426.07       157693.92  California   96712.80    414917.66
46    1315.46       115816.21          FL   49490.75    414246.13
6   134615.46       147198.87  California  156122.51    409531.15
33   55493.95       103057.49          FL   96778.92    373186.25
28   66051.52       182645.56          FL  103282.38    366845.28
36   28663.76       127056.21          FL   90708.19    356846.79
26   75328.87       144135.98          FL  105733.54    353514.92
25   64664.71       139553.16  California  107404.34    342180.49
35   46014.02        85047.44    New York   96479.51    336579.10
29   65605.48       153032.06    New York  101004.64    325775.92
40   28754.33       118546.05  California   78239.91    320096.05
24   77044.01        99281.34    New York  108552.04    316900.16
31   61136.38       152701.92    New York   97483.56    302056.53
39   38558.51        82982.09  California   81005.76    296539.90
37   44069.95        51283.14  California   89949.14    292382.51
41   27892.92        84710.77          FL   77798.83    277074.40
38   20229.59        65947.93    New York   81229.06    271442.62
30   61994.48       115641.28          FL   99937.59    268767.00
42   23640.93        96189.63  California   71498.49    267831.67
19   86419.70       153514.11    New York  122776.86    239933.81
32   63408.86       129219.61  California   97427.84    238713.72
44   22177.74       154806.14  California   65200.33    205318.60
43   15505.73       127382.30    New York   69758.98    178422.20
49       0.00       116983.80  California   14681.40    162156.86
47       0.00       135426.92  California   42559.73    135426.92
45    1000.23       124153.04    New York   64926.08    127057.20
48     542.05        51743.15    New York   35673.41     52285.20

28.	Find the top 5 startups by RD_Spend.

In [ ]:
print( df.sort_values(by='RD_Spend', ascending=False).head(5))

    RD_Spend  Administration       State     Profit  Total_Spend
0  165349.20       136897.80    New York  192261.83    774031.10
1  162597.70       151377.59  California  191792.06    757873.82
2  153441.51       101145.55          FL  191050.39    662521.60
3  144372.41       118671.85    New York  182901.99    646243.88
4  142107.34        91391.77          FL  166187.94    599667.53

29.	Add a new column Profit Margin % = (Profit / Total_Spend) * 100.

In [ ]:
df['Profit_Margin'] = (df['Profit'] / df['Total_Spend']) * 100
print( df[['RD_Spend', 'Total_Spend', 'Profit', 'Profit_Margin']].head())

    RD_Spend  Total_Spend     Profit  Profit_Margin
0  165349.20    774031.10  192261.83      24.839032
1  162597.70    757873.82  191792.06      25.306595
2  153441.51    662521.60  191050.39      28.836855
3  144372.41    646243.88  182901.99      28.302317
4  142107.34    599667.53  166187.94      27.713346

30.	Save the final DataFrame to a new CSV file final_startups.csv.

In [ ]:
df.to_csv("final_startups.csv", index=False)
print("final_startups.csv")

final_startups.csv