<a href="https://colab.research.google.com/github/Mahagurunath/python/blob/main/IS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Student Marks Dashboard

Each student record = [name, math, science, english]

students = [
    ["Alice", 85, 90, 95],
    ["Bob", 75, 80, 82],
    ["Carol", 92, 88, 91],
    ["David", 60, 65, 70]
]

1. Calculate total marks for each student.
2. Identify the student with the highest average.
3. Print names of students who scored more than 250 in total.
4. Add a new student record and reprint all.

In [ ]:
s=[["alice",85,90,95],
  ["bob",75,80,82],
  ["carol",92,88,91],
  ["david",60,65,70]]
t_m=[]
for i in range(len(s)):
  total=s[i][1]+s[i][2]+s[i][3]
  t_m.append(total)
print(t_m)

t_m=[]
for i in range(len(s)):
  total=s[i][1]+s[i][2]+s[i][3]
  avergre=total/3
  t_m.append(avergre)
print(t_m)
print(max(t_m))

for i in range(len(s)):
  total=s[i][1]+s[i][2]+s[i][3]
  if total > 250:
    print(s[i][0])

s.append(["vp",80,85,90])
print(s)

[270, 237, 271, 195]
[90.0, 79.0, 90.33333333333333, 65.0]
90.33333333333333
alice
carol
[['alice', 85, 90, 95], ['bob', 75, 80, 82], ['carol', 92, 88, 91], ['david', 60, 65, 70], ['vp', 80, 85, 90]]

2: Hobby Tracker

Each record = [name, hobby1, hobby2]

hobby_data = [
    ["Alice", "reading", "cycling"],
    ["Bob", "drawing", "football"],
    ["Carol", "reading", "swimming"],
    ["David", "cycling", "gaming"]
]

1. Print all unique hobbies.
2. Count how many students have 'reading' as a hobby.
3. Find students who share at least one hobby.
4. Create a dictionary: {'Alice': ['reading', 'cycling'], ...}

In [ ]:
h_d =[["Alice","reading","cycling"],
      ["bob","drawing","football"],
      ["carol","reading","swimming"],
      ["David","cycling","gaming"]
      ]
u_h=[]
for i in range(4):
  for j in range(1,3):
    if h_d[i][j] not in u_h:
      u_h.append(h_d[i][j])
print(u_h)

count = 0
for i in range(4):
  if h_d[i][1] == "reading" or h_d[i][2] == "reading":
    count = count + 1
print(count)

for i in range(4):
  for j in range(1,3):
   h1=h_d[i][j]
   if h1 == "cycling" or h1 == "reading":
     print(h_d[i][0])

h_d={'alice':['reading','cycling'],
     'bob':['drawing','football'],
     'carol':['reading','swimming'],
     'david':['cycling','gaming']}
print(h_d)

['reading', 'cycling', 'drawing', 'football', 'swimming', 'gaming']
2
Alice
Alice
carol
David
{'alice': ['reading,cycling'], 'bob': ['drawing', 'football'], 'carol': ['reading', 'swimming'], 'david': ['cycling', 'gaming']}

Each row = [product name, Jon sales, Feb soles, Mar_sules]

sales = [
    ["Rice", 120, 130, 125],
    ["Wheat", 100, 90, 95],
    ["Oil", 80, 85, 90],
    ["Sugar", 110, 115, 105]
]


1. Calculate total sales for each product.
2. Find the product with the highest sales in March.
3. Print month-wise total sales.
4. Convert the list to dictionary with product as key.

In [ ]:
sales=[["rice",120,130,125],
       ["wheat",100,90,95],
       ["oil",80,85,90],
       ["sugar",110,115,105]]
total_sales=[]
for i in range(len(sales)):
  total=sales[i][1]+sales[i][2]+sales[i][3]
  total_sales.append(total)
print(total_sales)

max1=0
n=""
for i in range(4):
  if sales[i][3] > max1 :
    max1 = sales[i][3]
    n=sales[i][0]
print(n,end=":")
print(max1)

j=0
f=0
m=0
for i in range(4):
  j=j+sales[i][1]
  f=f+sales[i][2]
  m=m+sales[i][3]
print(j,f,m)

sales={'rice':[120,130,125],
       'wheat':[100,90,95],
       'oil':[80,85,90],
       'sugar':[110,115,105]}
print(sales)

[375, 285, 255, 330]
rice:125
410 420 415
{'rice': [120, 130, 125], 'wheat': [100, 90, 95], 'oil': [80, 85, 90], 'sugar': [110, 115, 105]}

Each record = [book_title, author_name, genre]

books = [
    ["Wings of Fire", "A.P.J. Abdul Kalam", "Biography"],
    ["1984", "George Orwell", "Fiction"],
    ["The Alchemist", "Paulo Coelho", "Fiction"],
    ["Zero to One", "Peter Thiel", "Business"]
]


Tasks:
1. Print all books under the "Fiction" genre.
2. Create a list of all unique authors.
3. Count books per genre.
4. Convert list to: [{'title': ..., 'author': ..., 'genre': ...}, ...]

In [ ]:
books=[["wings of fire","A.P.J.abdul kalam","biography"],
       ["1984","george orwell","fiction"],
       ["the alchemist","paulo coelho","fiction"],
       ["zero to one","peter thiel","buisness"]]

for i in range (4):
  if books[i][2] == "fiction":
    print(books[i][0])


a=[]
for i in range (len(books)):
  au=books[i][1]
  a.append(au)
  print(au)


genres = []
counts = []
for i in range(4):
    g = books[i][2]
    found = 0
    for j in range(len(genres)):
        if genres[j] == g:
            counts[j] = counts[j] + 1
            found = 1
    if found == 0:
        genres += [g]
        counts += [1]
for i in range(len(genres)):
    print(genres[i], ":", counts[i])


b_d =[]
for i in range(4):
    title = books[i][0]
    author = books[i][1]
    genre = books[i][2]
    b_d.append({'title': title, 'author': author, 'genre': genre})
for i in range(4):
    print(b_d[i])

1984
the alchemist
A.P.J.abdul kalam
george orwell
paulo coelho
peter thiel
biography : 1
fiction : 2
buisness : 1
{'title': 'wings of fire', 'author': 'A.P.J.abdul kalam', 'genre': 'biography'}
{'title': '1984', 'author': 'george orwell', 'genre': 'fiction'}
{'title': 'the alchemist', 'author': 'paulo coelho', 'genre': 'fiction'}
{'title': 'zero to one', 'author': 'peter thiel', 'genre': 'buisness'}

Employee Skills Directory

Each record = [employee_name, skill1, skill2, skill3]

employees = [
    ["Arun", "Python", "SQL", "Excel"],
    ["Divya", "Tableau", "Python", "Power BI"],
    ["Rahul", "Excel", "Communication", "SQL"],
    ["Meena", "Python", "ML", "DL"]
]


1. List all employees skilled in 'Python'.
2. Count frequency of each skill.
3. Create skill-wise index: {'Python': ['Arun', 'Divya', 'Meena'], ...}
4. Check if any employee has all three of 'Python', 'SQL', 'Excel'.

In [ ]:
e = [
    ["Arun", "Python", "SQL", "Excel"],
    ["Divya", "Tableau", "Python", "Power BI"],
    ["Rahul", "Excel", "Communication", "SQL"],
    ["Meena", "Python", "ML", "DL"]
]

for i in range(4):
    for j in range(1, 4):
        if e[i][j] == "Python":
            print(e[i][0])

s_c = []
for i in range(4):
    for j in range(1, 4):
        skill = e[i][j]
        fount = 0
        for k in range(len(s_c)):
            if s_c[k][0] == skill:
               s_c[k][1] +=1
               fount = 1
        if fount == 0:
            s_c.append([skill, 1])
print(s_c)

s_i=[]
for i in range(4):
  n = e[i][0]
  for j in range(1,4):
    s=e[i][j]
    found=0
    for k in range(len(s_i)):
      if s_i[k][0]== s:
        s_i[k][1].append(n)
        found=1
    if found == 0:
      s_i.append([s,[n]])

print(" all 3 skills (Python, SQL, Excel):")

for i in range(4):
    has_python = 0
    has_sql = 0
    has_excel = 0

    for j in range(1, 4):
        if e[i][j] == "Python":
            has_python = 1
        elif e[i][j] == "SQL":
            has_sql = 1
        elif e[i][j] == "Excel":
            has_excel = 1

    if has_python == 1 and has_sql == 1 and has_excel == 1:
        print(e[i][0])

Arun
Divya
Meena
[['Python', 3], ['SQL', 2], ['Excel', 2], ['Tableau', 1], ['Power BI', 1], ['Communication', 1], ['ML', 1], ['DL', 1]]
 all 3 skills (Python, SQL, Excel):
Arun

6: Plot Booking Dashboard

Each record [plot_id, customer_name, area_in_sqft, booking status]

plots = [
    ["P101", "Arun", 1200, "Booked"],
    ["P102", "Divya", 1500, "Available"],
    ["P103", "Meena", 1000, "Booked"],
    ["P104", "None", 1300, "Available"]
]


Tasks:

1. Count how many plots are booked.
2. List all available plots.
3. Print customer names and plot IDs for booked plots.
4. Add a new booking and update the list

In [ ]:
p = [
    ["P101", "Arun", 1200, "Booked"],
    ["P102", "Divya", 1500, "Available"],
    ["P103", "Meena", 1000, "Booked"],
    ["P104", "None", 1300, "Available"]
]
b_c=0
for i in range (4):
  if p[i][3] == "Booked":
    b_c=b_c+1
print(b_c)


for i in range(4):
  if p[i][3] == "Available":
    print(p[i][0])


for i in range(4):
  if p[i][3]== "Booked":
    print("cus:",p[i][1],"p-id:",p[i][0])

p.append(["P106", "vp", 1126, "Booked"])
for i in range(len(p)):
  print(p[i][0],p[i][1],p[i][2],p[i][3])

2
P102
P104
cus: Arun p-id: P101
cus: Meena p-id: P103
P101 Arun 1200 Booked
P102 Divya 1500 Available
P103 Meena 1000 Booked
P104 None 1300 Available
P106 vp 1126 Booked

Installment Tracker

Each record = [customer_name, total_amount, paid_amount, due_amount]

payments = [
    ["Arun", 600000, 300000, 300000],
    ["Divya", 750000, 750000, 0],
    ["Meena", 500000, 100000, 400000],
    ["Kumar", 900000, 600000, 300000]
]

Tasks:

1. Print names of customers with dues.
2. Calculate percentage paid by each customer.
3. Identify fully paid customers.
4. Update a payment and recalculate dues.

In [ ]:
pay = [
    ["Arun", 600000, 300000, 300000],
    ["Divya", 750000, 750000, 0],
    ["Meena", 500000, 100000, 400000],
    ["Kumar", 900000, 600000, 300000]
]

for i in range(4):
  if pay[i][3] >0:
    print(pay[i][0])

for i in range(4):
  total=pay[i][1]
  paid=pay[i][2]
  pe=(paid*100)/total
  print(pay[i][0]+":",pe,"%")




for i in range(4):
    if pay[i][3] == 0:
        print(pay[i][0])



for i in range(4):
    if pay[i][0] == "Meena":
        pay[i][2] = pay[i][2] + 200000
        pay[i][3] = pay[i][1] - pay[i][2]
for i in range(4):
    if pay[i][0] == "Meena":
        print(pay[i][0], pay[i][1], pay[i][2], pay[i][3])

Arun
Meena
Kumar
Arun: 50.0 %
Divya: 100.0 %
Meena: 20.0 %
Kumar: 66.66666666666667 %
Divya
Meena 500000 300000 200000

Plot Location & Facing Info

Each record [plot_id, location, facing]

plot_info = [
    ["P101", "North Layout", "East"],
    ["P102", "North Layout", "West"],
    ["P103", "South Layout", "North"],
    ["P104", "East Layout", "East"]
]


Tasks:

1. List all plots in 'North Layout'.
2. Count plots facing East.
3. Search for a plot by ID and display its details.
4. Group plots by layout location

In [ ]:
plot_info = [
    ["P101", "North Layout", "East"],
    ["P102", "North Layout", "West"],
    ["P103", "South Layout", "North"],
    ["P104", "East Layout", "East"]
]
for i in range(4):
    if plot_info[i][1] == "North Layout":
        print(plot_info[i][0])

e_c = 0
for i in range(4):
    if plot_info[i][2] == "East":
        e_c +=1
print( e_c)



search_id = "P103"
found = 0
for i in range(4):
    if plot_info[i][0] == search_id:
        print("Plot ID:", plot_info[i][0])
        print("Location:", plot_info[i][1])
        print("Facing:", plot_info[i][2])
        found = 1
if found == 0:
    print("Plot not found.")



l_o = []
for i in range(4):
    if plot_info[i][1] not in l_o:
        l_o.append(plot_info[i][1])
for i in range(len(l_o)):
    print(l_o[i] + ":")
    for j in range(4):
        if plot_info[j][1] == l_o[i]:
            print(" ", plot_info[j][0])

P101
P102
2
Plot ID: P103
Location: South Layout
Facing: North
North Layout:
  P101
  P102
South Layout:
  P103
East Layout:
  P104